<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %> 

<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>




    <main>
        
        

        <section class="table">


            <table id="userTable">
                <thead>
                  <tr>
                    <th>Cantidad</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <% cartProducts.forEach((element) => { %>
                  <tr>
                    <td><%=element.quantity%></td>
                    <td><%=element.producto.name%></td>
                    <% if (element.producto.off != 0) { %>
                        <td>$<%= (element.producto.price - (element.producto.price*element.producto.off/100)) * element.quantity%></td>
                    <% } else { %>
                        <td>$<%= element.producto.price * element.quantity %> </td>  
                    <% } %> 
                    <td> <form action="/checkout/delete/<%= element.id %> "><button><i class="fa-sharp fa-solid fa-xmark"></i></button></form></td>
                  </tr>
                    <% }) %>
                  <tr>
                    <td colspan="4">Subtotal $<%= price %> </td>
                  </tr>
                </tbody>
            </table>

            <div class="subtotal">
                <p>
                    Subtotal: <span class="precio"> $<%= price %>.- </span>
                </p>
                <a href="#" class="pagar">
                    <button class="pagar">
                        Proceder a pagar <%= quantity %> producto/s
                    </button>
                </a>
            </div>

        </section>

        <section class="main-container">
                
            <div class="productos">
                <% cartProducts.forEach((element) => { %> 
                
                
                <div class="producto">

                    <div class="upper">
                        
                        <a href="#"  class="img"> <!-- Luego linkear a detalle del producto -->
                            <img src="<%=element.producto.img%>" alt="<%=element.producto.name%>">
                        </a>
                        
                        <div class="detalles">
                            <a href="#"> <!-- Luego linkear a detalle del producto -->
                                <p class="titulo"><%=element.producto.name%></p>
                            </a>
                            <% if (element.producto.off != 0) { %>
                                
                                <p class="precio" > <span style="text-decoration: line-through ;">$<%=element.producto.price%></span><span class="descuento"> <%=element.producto.off%>% off</span> </p>
                                <p class="precio"> $<%=element.producto.price - (element.producto.price*element.producto.off/100)%> </p>

                            <% } else { %>

                                <p class="precio">$<%=element.producto.price%>

                            <% } %>

                        </div>
    
                    </div>
                                      

                </div>


                <% }) %> 

            </div>

        </section>

    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>

</body>

</html>