<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <!-------------------------------------------------------------->

            <main>
                <section>

                    <% products.forEach( ( product,i)=>{ %>

                        <div class="product">
                            <% if (i%2==0) { %>
                                <img src=<%= product.img %> alt="foto" class="productImgRight">
                                <div class="detailRight">
                                    <% } else { %>
                                        <img src=<%= product.img %> alt="foto" class="productImgLeft">
                                        <div class="detailLeft">
                                            <% } %>

                                            <div class="titlePrice">

                                                <a id="productName" href=<%= `products/${ product.id }/detail` %>>
                                                    <%=  product.name %>
                                                </a>
                                                <% if (product.off !=0) { %>
                                                    <div>
                                                        <div class="off">
                                                            <h3 id="priceOld">$<%= product.price %></h3>
                                                            <h3 id="offPer"><%= product.off %>% OFF</h3>
                                                        </div>
                                                        <h2 id="priceNew">$<%= product.price - (product.price*product.off/100) %></h2>
                                                    </div>
                    
                                                <% } else { %>
                    
                                                    <h2 id="price">$<%= product.price %></h2>
                    
                                                <% } %>

                                            </div>

                                                <div class="produtButtons">
                                                    <form action="products/<%= product.id %>/detail" method="POST">
                                                        <label for="buttonBuy" class="custom-checkbox">                                                  
                                                            <button class="button-58" role="button"><p>Agregar al carrito</p><i class="fa-solid fa-bag-shopping buy button"></i></button>
                                                        </label>
                                                    </form>
                                                    
                                                </div>
                                        </div>
                                </div>

                                <% }) %>
                </section>

            </main>

            <!-- FOOTER -->
            <%- include('../partials/footer') %>

    </body>

</html>