<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <!-------------------------------------------------------------->

            <main>
                <section>

                    <% database.forEach( (e,i)=>{ %>

                        <div class="product">
                            <img src=<%=e.img %> alt="foto" class="productImg">
                            <% if (i%2==0) { %>
                                <div class="detailRight">
                                    <% } else { %>
                                        <div class="detailLeft">
                                            <% } %>
                                                <p id="productName">
                                                    <%= e.name %>
                                                </p>
                                                <p id="productDescription">
                                                    <%= e.description %>
                                                </p>
                                                <div class="produtButtons">

                                                    <label for="buttonShare" class="custom-checkbox">
                                                        <input type="button" id="buttonShare">
                                                        <i class="fa-solid fa-share-nodes share button"></i>
                                                    </label>

                                                    <label for="buttonBuy" class="custom-checkbox">
                                                        <input type="button" id="buttonBuy">
                                                        <i class="fa-solid fa-bag-shopping buy button"></i>
                                                    </label>

                                                    <label for="buttonFav2" class="custom-checkbox">
                                                        <input type="checkbox" id="buttonFav2">
                                                        <i class="fa-solid fa-heart noFav button"></i>
                                                        <i class="fa-solid fa-heart fav button"></i>
                                                    </label>

                                                </div>
                                        </div>
                                </div>

                                <% }) %>
                </section>

            </main>

            <!-- FOOTER -->
            <%- include('../partials/footer') %>

    </body>

</html>