<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 

<body>

    <!-- HEADER -->
    <%- include('../partials/header') %>
    <!------------------------------------------------------->
    <main>
        
        <section>
            <div class="signInBox">
                <form  action="/users/login" method="POST">
                    
                    <h1>Ingreso</h1>
                    <div class="forms">

                        <% if (typeof errors != 'undefined') { %>
                            <p style="color:red">ERROR</p>
                            <ul>
                                <% for( let index = 0; index < errors.length; index++ ) { %>
                                    <li>
                                        <%= errors[index].msg %> 
                                    </li>
                                <% } %>
                            </ul>
                         
                        <% } %>
                        
                        <div>
                            <label for="name" class="name">
                                Email
                                <input type="text" id="name" name="email" placeholder="Nombre de usuario"
                                value=<%= user.email ?? '' %> >
                                        <% if (locals.errors && errors.email ) { %>
                                            <div class="error"><%= errors.email.msg %></div>
                                        <% } %>
                            </label>
                        </div>
                        
                        <div>
                            <label for="pass" class="pass">
                                Contraseña
                                <input type="password" id="pass" name="password" placeholder="Contraseña">
                            </label>
                        </div>
                        
                    </div>
                    
                    
                    
                    <div class="btn">
                        <input type="submit" value="Ingresar" id="sendBtn">
                    </div>
                </form>
                <div class="sin-cuenta">
                    <p>Todavia no tenes una cuenta?</p>
                    <form action="/users/signin" class="btn">
                        <input type="submit" value="Registrate" id=regBtn>
                    </form>
                </div>
            </div>    
        </main>
        
        <!-- FOOTER -->
        <%- include('../partials/footer')  %> 



</body>

</html>