<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>
            <!------------------------------------------------------->
            <main>
                <div class="mainBox">
                    <img id="userImg" src="<%= user.img %> " alt="Imagen del usuario"> <!--corregir la direccion de la imagen-->
                    <div class="infoBox">
                        <h1 id="userName"><span class="class">Nombre:</span> <%= user.firstName %> <%= user.lastName %></h1>
                        <h2 id="userCategory"><span class="class">Categoría:</span> <%= user.category %></h2>
                        <h2 id="userEmail"><span class="class">Email:</span> <%= user.email %></h2>
                        <h3 id="userBirth"><span class="class">Fecha de nacimiento:</span> <%= user.birth %></h3>
                    </div>
                </div>

            </main>

        <!-- FOOTER -->
        <%- include('../partials/footer') %>

    </body>

</html>