<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>
            <!------------------------------------------------------->
            <main>
                <h1>PROFILE</h1>
                <p>id:<%= user.id %> </p>
                <p>first_name:<%= user.first_name %> </p>
                <p>last_name:<%= user.last_name %> </p>
            </main>

        <!-- FOOTER -->
        <%- include('../partials/footer') %>

    </body>

</html>