<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>
            <!------------------------------------------------------->
            <main>

                <section>
                    <div class="signInBox">

                        <h1>Registrarse</h1>

                        <form action="/users/signin?_method=POST" id="userForm" method="POST">

                            <!-- NOMBRE -->
                            <div>
                                <label for="name" class="name">
                                    Nombre
                                    <input type="text" id="name" name="name" placeholder="Nombre de usuario"
                                        value=<%= user.fistName ?? '' %> >
                                </label>
                            </div>

                            <!-- EMAIL -->
                            <div>
                                <label for="email" class="email">
                                    Email
                                    <input type="email" id="email" name="email" placeholder="Correo electrónico"
                                        value=<%= user.lastName ?? '' %> >
                                </label>
                            </div>

                            <!-- PASSWORD -->
                            <div>
                                <label for="password" class="pass">
                                    Contraseña
                                    <input type="password" name="password" id="password" placeholder="Contraseña">
                                </label>
                            </div>

                            <!-- PASSWORD CONFIRMATION -->
                            <div>
                                <label for="passCon" class="passCon">
                                    Confirmar Contraseña
                                    <input type="password" id="passCon" name="passCon" placeholder="Confirmar contraseña">
                                </label>
                            </div>

                            <!-- BIRTH -->
                            <div>
                                <label for="birth" class="birth">
                                    Fecha de nacimiento
                                    <input type="date" id="birth" value=<%= user.birth ?? '' %>>
                                </label>
                            </div>

                            <!-- GENDER -->
                            <label for="gender">Genero</label>
                            <select class="gender options" name="gender">

                                <!-- HOMBRE -->
                                <option type="radio" id="hombre" name="gender" <% if (user.gender=='hombre' ) { %> selected <% } %> >
                                <label for="hombre">Hombre</label>
                                <!-- MUJER -->
                                <option type="radio" id="mujer" name="gender" <% if (user.gender=='mujer' ) { %> selected <% } %>>
                                <label for="mujer">Mujer</label>
                                <!-- OTRO -->
                                <option type="radio" id="otro" name="gender" <% if (user.gender=='otro' ) {%> selected <% } %>>
                                <label for="otro">Otro</label>

                            </select>

                            <input type="submit" value="Crear mi cuenta" id="sendBtn">
                            
                        </div>


                    </div>
                    </form>



                </section>

            </main>

            <!-- FOOTER -->
            <%- include('../partials/footer') %>




    </body>

</html>